*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border-radius: 20px;
  display: inline-block;
  padding: .5em 1.3em;
  text-align: center;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans",sans-serif;
}

nav {
  align-items: center;
  background-color: #C12127;
  color: rgba(255,255,255, 0.8);
  display: flex;
  font-size: .9em;
  height: 42px;
  justify-content: space-between;
  padding: 0 1.5em;
  width: 100%;
}

nav a {
  color: rgba(255,255,255, 0.8);
}

nav a:hover {
  color: white;
  transition: all 300ms ease-out;
}

.heart {
  margin-right: 1em;
}

.top-links li {
  display: inline;
  margin-left: 1.5em;
}

header {
  background-color: #245A79;
  background-image: url(../images/city-scape.svg);
  display: flex;
  height: 432px;
  justify-content: space-between;
  padding: 1.5rem;
}
.npm-description p {
  font-size: 18px;
}
header li {
  display: inline;
}

.logo-container {
  margin-right: 1.3em;
}

.logo-container img {
  width: 128px;
}

.search-container {
  flex-grow: 1;
  position: relative;
}

input {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.2);
  display: block;
  height: 50px;
  padding: 1em;

  margin: 0;
  width: 100%;
}

.btn-search {
  border: none;
  border-left: 1px solid rgba(255,255,255,0.2);
  color: rgba(255, 255, 255, 0.8);
  height: 50px;
  width: 50px;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.btn-search img {
  width: 16px;
}

.user-info-container ul {
  display: flex;
}

.signup-login {
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  margin-left: 1em;

  a {
    color: rgba(255, 255, 255, 0.8);
    margin: 0 .5em;
    text-decoration: none;
  }

  a:hover {
    color: white;
    transition: all 300ms ease-out;
  }

}

.signup-login a {
  color: rgba(255, 255, 255, 0.8);
  margin: 0 .5em;
  text-decoration: none;
}

.login-icon a img {
  width: 42px;
}

.npm-description {
  color: white;
  flex-direction: column;
  position: absolute;
  top: 160px;
  left: 160px;
  width: 500px;

  p {
    margin-bottom: 2em;
  }

  .btn {
    background-color: #f09233;
    font-size: 18px;
  }

  .btn:hover {
    background-color: #E97E11;
    transition: all 300ms ease-out;
  }

}

.title h1 {
  font-weight: 400;
  font-size: 3em;
  margin-bottom: 0.3em;
}

h2 {
  font-weight: 300;
  font-size: 2.3em;
  margin-bottom: .5em;
}
.collaboration {
  background-color: #273547;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 583px;
  padding: 0 9em;
  width: 100%;

  img {
    width: 547px;
    margin-right: 4em;
  }

  .btn {
    background-color: #CB3837;
    margin-bottom: .5em;
    font-size: 18px;
  }

  .btn:hover {
    background-color: #AC2E2D;
    transition: all 300ms ease-out;
  }

  li {
    list-style-type: disc;
    margin-bottom: 1em;
  }

  p a {
    font-weight: 600;
  }

  p a:hover {
    text-decoration: underline;
  }

}

.collaboration-description  ul {
    margin-bottom: 2em;
    margin-left: 1em;
  }



.what-is {
  background-color: #206F9C;
  background-image: url("../images/forklift.svg");
  height: 507px;
  position: relative;

  .btn {
    background-color: #34495e;
  }

  .btn:hover {
    background-color: #253544;
  }
}
.what-can-you-make {
  background-color: white;
  color: #6d7986;
  height: 507px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2, h3 {
    color: #373d48;
    font-weight: 600;
  }
  h2 {
    font-weight: 300;
  }
}

.heading {
  text-align: center;
  margin: 4em 0 3em 0;
}

.items {
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 80%;

  h3 {
    margin-bottom: .5em; 
  }

  div {
    width: 25%;
  }
  img {
    margin-bottom: .5em;
  }
  a {
    color: #cb3837;
  }

  a:hover {
    color: #d1504f;
    text-decoration: underline;
  }
}
