* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
a {
  color: rgba(255,255,255, 0.8);
  text-decoration: none;
}
body {
  font-family: "Open Sans",sans-serif;
}
nav {
  align-items: center;
  background-color: #C12127;
  color: rgba(255,255,255, 0.8);
  display: flex;
  font-size: .9em;
  height: 42px;
  justify-content: space-between;
  padding: 0 1.5em;
  width: 100%;
}
.heart {
  margin-right: 1em;
}
.top-links li {
  display: inline;
  margin-left: 1.5em;
}
